body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:605px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#333333;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:145px;
  height:31px;
  font-size:24px;
  color:#333333;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
.u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
.u2430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:80px;
  font-size:18px;
  color:#666666;
}
.u2430_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
.u2430.selected {
}
.u2431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:271px;
  word-wrap:break-word;
}
#u2429-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:80px;
}
#u2429-2 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:0px;
  width:275px;
  height:80px;
}
#u2429-3 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:0px;
  width:275px;
  height:80px;
}
#u2429-4 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:0px;
  width:275px;
  height:80px;
}
#u2429-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:275px;
  height:80px;
}
#u2429-6 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:100px;
  width:275px;
  height:80px;
}
#u2429-7 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:100px;
  width:275px;
  height:80px;
}
#u2429-8 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:100px;
  width:275px;
  height:80px;
}
#u2429-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:275px;
  height:80px;
}
#u2429-10 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:200px;
  width:275px;
  height:80px;
}
#u2429-11 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:200px;
  width:275px;
  height:80px;
}
#u2429-12 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:200px;
  width:275px;
  height:80px;
}
#u2429-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:275px;
  height:80px;
}
#u2429-14 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:300px;
  width:275px;
  height:80px;
}
#u2429-15 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:300px;
  width:275px;
  height:80px;
}
#u2429-16 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:300px;
  width:275px;
  height:80px;
}
#u2429-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:275px;
  height:80px;
}
#u2429-18 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:400px;
  width:275px;
  height:80px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:85px;
  width:1160px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
