body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1340px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:1305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:1305px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:644px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1177px;
  height:581px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:400px;
  width:1177px;
  height:581px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:282px;
  width:1173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:40px;
  width:145px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:145px;
  width:29px;
  height:19px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:135px;
  width:800px;
  height:36px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:201px;
  width:57px;
  height:19px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:191px;
  width:400px;
  height:35px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u58_input:disabled {
  color:grayText;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:256px;
  width:43px;
  height:19px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:246px;
  width:400px;
  height:36px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:252px;
  width:24px;
  height:24px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:101px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:14px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:103px;
  width:4px;
  height:14px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:371px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:14px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:373px;
  width:4px;
  height:14px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:492px;
  width:1129px;
  height:462px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:462px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:1219px;
  width:80px;
  height:36px;
}
#u75_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(62, 153, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75.mouseOver {
}
#u75_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(62, 153, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75.mouseDown {
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:1021px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:14px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:1023px;
  width:4px;
  height:14px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:1060px;
  width:57px;
  height:19px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:1050px;
  width:120px;
  height:36px;
  color:#666666;
}
#u85_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u85.mouseOver {
}
#u85_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u85.mouseDown {
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:1061px;
  width:20px;
  height:14px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1060px;
  width:502px;
  height:19px;
  color:#666666;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:1116px;
  width:57px;
  height:19px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1116px;
  width:93px;
  height:19px;
  color:#666666;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:1116px;
  width:14px;
  height:19px;
  color:#666666;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:1116px;
  width:12px;
  height:19px;
  color:#666666;
  text-align:right;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1145px;
  width:93px;
  height:19px;
  color:#666666;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:1145px;
  width:14px;
  height:19px;
  color:#666666;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:1145px;
  width:12px;
  height:19px;
  color:#666666;
  text-align:right;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:79px;
  width:1179px;
  height:1px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:1198px;
  width:1179px;
  height:1px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1219px;
  width:80px;
  height:36px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:312px;
  width:57px;
  height:19px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u116_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u118_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u120_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u122_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u124_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u126_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:312px;
  width:90px;
  height:19px;
  color:#333333;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u128_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u130_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u132_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u134_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:313px;
  width:90px;
  height:19px;
  color:#333333;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u136_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:312px;
  width:70px;
  height:19px;
  color:#333333;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u138_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
